<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terraria Capstone Project</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

         <ul class='nav'>
             <button> <il class='nav-link'><a href="{{url_for('home')}}">Home</a> </il> </button>
             {% if current_user.is_authenticated %}  
             <button> <li class="nav-link"><a href="{{url_for('boss')}}">Boss List</a> </li> </button>
             <button> <li class="nav-link"><a href="{{url_for('armor')}}">Armor List</a> </li> </button>
             <button> <li class="nav-link"><a href="{{url_for('weapon')}}">Weapon List</a> </li> </button>
             <button> <li class="nav-link"><a href="{{url_for('logout')}}">Log Out</a> </li> </button>
            
             {% else %} 
             <button> <li class="nav-link"><a href="{{url_for('login')}}">Log In</a> </li>
             <button> <li class="nav-link"><a href="{{url_for('register')}}">Register</a> </li>

             {% endif %}  
          </ul>
    </nav>
 
    {% block body %} 

    {% endblock %}
</body> 
</html>