{% extends 'base.html' %}


{% block body %}
    <h1>List of Bosses</h1>
    <h5>Disclaimer: Bosses can be challenged in any order or even skiped.
        Some bosses however need to be defeated in order to advance the game or to challenge other bosses
    </h5>
    <br>
    <h2>Pre-Hardmode Bosses</h2>
    <br>
    <h3>King Slime</h3>
    <h4>Not required to progress the game</h4>
    <br>
    <h3>Eye of Cthulhu</h3>
    <h4>Not required to progress the game</h4>
    <br>
    <h3>Eater of Worlds or Brain of Cthulhu</h3>
    <h4>Not required to progress the game</h4>
    <br>
    <h3>Queen Bee</h3>
    <h4>Not required to progress the game</h4>
    <br>
    <h3>Skeletron</h3>
    <h4>Required to be able to enter the dungeon but not to progress the game</h4>
    <br>
    <h3>Deerclops</h3>
    <h4>Not required to progress the game</h4>
    <br>
    <h3>Wall of Flesh</h3>
    <h4>Required to progress the game. Required to be defeated to turn world into "hardmode."</h4>
    <br>

    <h2>Hardmode Bosses</h2>
    <br>

    <h3>Queen Slime</h3>
    <h4>Not required to progress the game</h4>
    <br>
    <h3>The Twins</h3>
    <h4>Required to be defeated before challenging Plantera</h4>
    <br>
    <h3>The Destroyer</h3>
    <h4>Required to be defeated before challenging Plantera</h4>
    <br>
    <h3>Skeletron Prime</h3>
    <h4>Required to be defeated before challenging Plantera</h4>
    <br>
    <h3>Plantera</h3>
    <h4>Required to progress the game. Required to be defeated before challenging Golem</h4>
    <br>
    <h3>Golem</h3>
    <h4>Required to progress the game. Required to be defeated in order to challege Lunatic Cultist</h4>
    <br>
    <h3>Empress of Light</h3>
    <h4>Not required to progress the game</h4>
    <br>
    <h3>Duke Fishron</h3>
    <h4>Not required to progress the game</h4>
    <br>
    <h3>Lunatic Cultist</h3>
    <h4>Required to progress the game. Required to be defeated in order to challenge Moon Lord</h4>
    <br>
    <h3>Moon Lord</h3>
    <h4>Final Boss of the game</h4>
{% endblock %}