{% extends 'base.html' %}


{% block body %}
    <h1>Recommended Weapons used to defeat each boss</h1>
    <h2>King Slime</h2>

    <h2>Eye of Cthulhu</h2>

    <h2>Eater of Worlds or Brain of Cthulhu</h2>

    <h2>Queen Bee</h2>

    <h2>Skeletron</h2>

    <h2>Deerclops</h2>

    <h2>Wall of Flesh</h2>

    <h2>Queen Slime</h2>

    <h2>The Twins</h2>

    <h2>The Destroyer</h2>

    <h2>Skeletron Prime</h2>

    <h2>Plantera</h2>

    <h2>Golem</h2>

    <h2>Empress of Light</h2>

    <h2>Duke Fishron</h2>

    <h2>Lunatic Cultist</h2>

    <h2>Moon Lord</h2>
{% endblock %}